.button, .button-story
  display inline-block
  padding 5px 10px
  cursor pointer
  appearance none
  border none

  &.red
    background Red
    color White

  &.green
    background Green
    color White

.button-story
  background Green
  width 300px
