.button, .button-story, .button-answer
  display inline-block
  padding 5px 10px
  cursor pointer
  appearance none
  border none

  &.red
    background Red
    border-bottom 2px solid #9C201D
    color White

  &.green
    background Green
    border-bottom 2px solid #4F932F
    color White

  &.gray
    background Gray
    border-bottom 2px solid Black
    color White

  &.black
    background Black
    border-bottom 2px solid Gray
    color White

.button-story, .button-answer
  background Green
  border-bottom 2px solid #4F932F
  width 250px

.button-answer
  display block
  margin 1em auto
  background White
  border 1px solid Black
  border-radius 3px
