.card
  background White
  padding 15px
  width 280px
  height 420px
  overflow hidden
  border-radius 3px
  box-shadow 5px 5px 10px #888888
  text-align left
  margin 30px auto
  
  img
    width 160px
    border-radius 50%
    margin 0 auto 1em auto
    height auto
    display block
  
  ul
    margin 0 15px
  
  &.question
    text-align center
    h2
      font-weight 300
      font-size 1.2em
