.card
  background White
  padding 20px 10px
  max-width 400px
  min-height 300px
  overflow hidden
  border-radius 5px
  box-shadow 5px 5px 10px #888888
  font-align left
  margin 30px auto
  
  img
    width 100%
    height auto
    display block
