.tag, .tag-add, .tag-remove
  background Blue
  color White
  padding 3px 5px
  margin 5px
  display inline-block
  span
    margin-left 10px
    cursor pointer

.tag-add, .tag-remove
  background Green
  padding 3px 10px
  cursor pointer
  span
    margin 0

.tag-remove
  background Red
