.question.ng-enter, 
.question.ng-leave
  display block

.question.ng-leave.ng-leave-active,
.question.ng-enter
  transition opacity 0.3s
  opacity 0

.question.ng-enter.ng-enter-active, 
.question.ng-leave
  opacity 1
