.container(ng-controller="storiesController as vm")
  h1.margin choose a story
  
  div
    .margin-top(ng-repeat="story in vm.stories")
      a.button-story(href="/stories/{{story.name}}") {{story.name}}
