.container(ng-controller="storiesController as vm")
  div This app is dedicated to bring knowledge about various topics and issues around LGBT community. It is designed and laid out as a set of stories where each story contains a set of questions. Each question isset up in a form of quiz which will make it fun and interactive for you to go through. Choose on a story now to learn and test your LGBT+ IQ.


  h3.uppercase.bold.margin Choose a topic
  
  div
    .margin-top(ng-repeat="story in vm.stories")
      a.button-story(href="/stories/{{story.name}}") {{story.name}}
