.container(ng-controller="storiesController as vm")
  div
    | LGBT+IQ is a resource for everyone. Part card game, part interactive learning experience, the app will set you on an educational (and interesting!) journey of LGBT+ discovery. By answering common questions, you’ll be exposed to a more current understanding of issues — and ideally greater acceptance of the LGBT+ community.
  
  div.margin
    strong Choose a topic to learn and test your LGBT+ IQ
    .margin-top(ng-repeat="story in vm.stories")
      a.button-story(href="/stories/{{story.name}}") {{story.name}}
  