.container(ng-controller="storyController as vm")
  h2.margin {{vm.story.name}}

  .card.question(ng-show="vm.show('question')")
    h2 {{vm.question.question}}
    .margin-top(ng-repeat="answer in vm.question.answers")
      .button-answer(ng-click="vm.flip()") {{answer.answer}}

  .card(ng-show="vm.show('answer')")
    div(ng-bind-html="vm.question.url")
    .margin-top.right
      .button.green(ng-click="vm.next()") Next

  .card(ng-show="vm.show('success')")
    div(ng-bind-html="vm.story.finalBlurb")
    .margin-top.right
      .button.green(ng-click="vm.next()") Next
