.container(ng-controller="questionsController as vm")
  h1.margin all questions
  
  .questions-index
    .margin-top(ng-repeat="question in vm.questions")
      a.button.green(href="/questions/{{question._id}}") {{question.question}}

  .margin-top
    a.button.green(href="/questions/new") create new question
  


