
Green = #70ba4d
Red = #F26865
Black = #000000
Gray =  #d8d8d8
DarkGray = #222222
Blue = #55ACEE
DarkBlue = #26273C

TextLight = #666
TextDark = #2e2e2e

BgDark = #ccc
BgLight = #fff

.bg-black
  background Black
.bg-white
  background White
.bg-dark
  background BgDark

.white
  color White
.black
  color Black
.green
  color Green
.red
  color Red
.blue
  color Blue

.icon-fill
  fill White
